:root{
    /* color palette */
    --lighterHay: #ebb358;
    --hay: #c89648;
    --darkerHay: #745626;
    
    --green: #4e7440;
    --darkGreen: #38562d;
    --darkerGreen: #273b1f;
    
    --brown: #74574f;
    --darkBrown: #5c3411;
    --darkerBrown: #634841;
    
    --grey: #bca37f;
    --darkGrey: #937f64;
    --darkerGrey: #6c5d4a;
    
    --greenShadow: #273b1f30;
    --shadow: 0px 2px 2px 3px var(--greenShadow);


    /* other */
    --nbTilePerLine: calc(100% / 20px);
}



/* General */

html, body{
    margin: 0; /* removing useless margin */
    padding: 0;
}

body{
    /* size */
    padding: 0 5vw;
    width: 90vw;
    height: 100vh;

    /* text */
    font-family: Arial, Helvetica, sans-serif;

    /* background */
    background: linear-gradient(to bottom, var(--lighterHay), var(--hay));
    background-attachment: fixed;
}

h1{
    /* size */
    padding: 10px 0;

    /* text */
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    /* color */
    background-color: var(--darkGreen);
    color: var(--lighterHay);
    
    /* border */
    border: 3px solid var(--darkerGreen);
    border-radius: 10px;

    /* Shadow */
    box-shadow: var(--shadow);
}


section{
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    /* position + size */
    padding: 10px;
    padding-bottom: 30px;

    /* color */
    background: linear-gradient(to bottom, var(--green), var(--darkGreen));

    /* border */
    border: 3px solid var(--darkerGreen);
    border-radius: 10px;

    /* shadow */
    box-shadow: var(--shadow);
}


h2{
    color: var(--lighterHay);
}



table{
    /* size */
    /* width: 80%; */

    /* border */
    border-spacing: 0;
    /* border: 1px solid var(--darkBrown);
    border-radius: 5px; */
    /* border-collapse: collapse; */
}

td{
    width: 20px;
    height: 20px;
}


#section1D td{
    background: linear-gradient(var(--lighterHay), var(--hay));

    border: 1px solid var(--darkerHay);
}


#life td{
    background: linear-gradient(var(--brown), var(--darkerBrown));

    border: 1px solid var(--darkBrown);
}


/* borders */

td:first-child{
    border-left-width: 2px;
}

td:last-child{
    border-right-width: 2px;
}

tr:last-child td{
    border-bottom-width: 2px;
}

tr:first-child td{
    border-top-width: 2px;
}



/* corners */

tr:first-child td:first-child{
    border-radius: 5px 0 0 0;
}

tr:first-child td:last-child{
    border-radius: 0 5px 0 0;
}

tr:last-child td:first-child{
    border-radius: 0 0 0 5px;
}

tr:last-child td:last-child{
    border-radius: 0 0 5px 0;
}



.alive::after{
    content: "\1F335"; /* chicken emoji */
}